*.bak
*.map
*.lnp
*.d
*.o
*.crf
*.axf
*.htm
*.uvgui
*.lst
*.uvopt
*.dep
project.uvgui.?
project.uvgui.??
project.uvgui.???
project.uvgui.????
project.uvgui.?????
project.uvgui.??????
project.uvgui.???????
project.uvgui.????????
project.uvgui.?????????
project.uvgui.??????????
project.uvgui.???????????
project.uvgui.????????????
project.uvgui.?????????????
project.uvgui.??????????????
project.uvgui.???????????????
project.uvgui.????????????????
project.uvgui.?????????????????
project.uvgui.???????????????????
project.uvgui.????????????????????
project.uvgui.?????????????????????
project.uvgui.??????????????????????
project.uvgui.???????????????????????
project.uvgui.Tripl_000
project.uvgui_Tripl_000.bak
